
@font-face{
    font-family: "myfont1";
    src: url(../font/font1/Roboto-Regular.ttf);

}

@font-face {

    font-family: "myfont5";
    src: url(../font/font/static/Rubik-Medium.ttf);
}

@font-face {

    font-family: "myfont6";
    src: url( ../font/font/static/Rubik-SemiBold.ttf);
}


@font-face {

    font-family: "myfont";
    src: url(   ../font/font/static/Rubik-Regular.ttf   );


}

@font-face {

    font-family: "myfont2";
    src: url(../font/font2/static/Rubik-Regular.ttf);


}

@font-face {

    font-family: "myfont3";
    src: url(../font/font3/Roboto/Roboto-Regular.ttf);

}

@font-face {

    font-family: "myfont4";
    src: url(../font/font3/Roboto/Roboto-Medium.ttf);

}